* {
  margin: 0;
  padding: 0;
}
#myaudio {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%) scale(2, 2);
}
#mycanvas {
  position: absolute;
  left: 0;
  top: 100px;
  background: #000;
}
#music_list {
  position: absolute;
  left: 0;
  top: 40px;
  overflow: hidden;
}
#music_list p {
  display: block;
  float: left;
  margin: 0px 10px;
  padding: 3px;
  color: #ffffff;
  background: #000000;
}
#music_list p:hover {
  color: #00ff00;
  cursor: pointer;
}
